version: '3'

services:
  sdnproject:
    image: sdnproject
    build: .
    volumes:
    - ./sandbox:/sandbox:ro
    - ./images:/images
    - ./init.sh:/init.sh:ro
    - ./wg.conf:/etc/wireguard/wg.conf:ro
    - ./daemon.json:/etc/docker/daemon.json:ro
    sysctls:
    - net.ipv4.ip_forward=1
    - net.ipv6.conf.default.forwarding=1
    - net.ipv6.conf.all.forwarding=1
    environment:
    - MTU=1370
    - CONTROL_PREFIX_V4=192.168.101
    - DUMMY_PREFIX_V4=192.168.100
    - LAN_PREFIX_V4=172.16
    - LAN_PREFIX_V6=2a0b:4e07:c4
    - TRANSIT_LINK_PREFIX_V4=192.168.63
    - TRANSIT_LINK_PREFIX_V6=fd63
    - IX_PREFIX_V4=192.168.70
    - IX_PREFIX_V6=fd70
    - TRANSIT_PREFIX_V4=172.17
    - TRANSIT_PREFIX_V6=2a0b:4e07:c4:1
    - LEFT_ID=37
    - LEFT_VNI=40
    - LEFT_REMOTE_IP=192.168.61.37
    - LEFT_PREFIX_V4=192.168.87
    - LEFT_PREFIX_V6=fd87
    - RIGHT_ID=40
    - RIGHT_VNI=50
    - RIGHT_REMOTE_IP=192.168.61.40
    - RIGHT_PREFIX_V4=192.168.88
    - RIGHT_PREFIX_V6=fd88
    privileged: true
    ports:
    - 8181:8181
